@media (max-width: 600px) {
    .grid-videos { padding-top: 20px; }
    .video-title { font-size: 14px; line-height: 22px; }
    .video-author, .video-stats { font-size: 12px; }
    .profile-pic-div .tool-tip { bottom: -70px; }
}
body{
    padding-bottom: 1000px;
    background-color: rgba(255, 255, 255, 0.847);
}
.thumbnail-div{
    position: relative;
    border: 0;
    padding: 0;
    margin: 0;
}
.video-time{
    align-items: center;
    justify-content: center;
    text-size-adjust: 100%;
    display: flex;
    font-weight: 500;
    padding: 3px 3px 3px 4px ;
    border-radius: 4px;
    font-size: 12px;
    position: absolute;
    bottom: 12px;
    right: 5px;
    background-color: black;
    color: white;
}
.second-row-div{
    display: grid;
    grid-template-columns: 36px 1fr;
}
.thumbnail{
    width: 100%;
}
.profile-pic-div{
    height: 36px;
    margin-top: 8px;
    vertical-align: top;
    position: relative;
    white-space: nowrap;
}
.profile-pic{
    width: 36px;
    border-radius: 50%;
}
.paras-div{
    margin-top: 7px;
    margin-left: 12px;
}
.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    line-height: 20px;
}
.video-author,.video-stats{
    color:rgb(45, 36, 36);
    font-size: 12px;
}
.video-author{
    margin-top: 9px;
}
.video-stats{
    margin-top: 2px;
}
.grid-videos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 30px;
    padding-left: 20px;
    padding-top: 16px;
    padding-right: 22px;
}
.video-preview{
    padding-bottom: 12px;
}
.profile-pic-div .tool-tip{
    position: absolute;
    bottom: -60px;
    background-color: white;
    opacity: 0;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
    padding: 5px;
    padding-bottom: 1px;
    pointer-events: none;
}
.profile-pic-div:hover .tool-tip{
    opacity: 1;
    transition: 0.23s;
}
.picture{
    width: 40px;
    border-radius: 50%;
}
.profile-picture{
    width: 40px;
    margin-right: 5px;
}
.video-author-name{
    padding: 0;
    font-size: 14px;
    font-weight: 500;
}
.Subscriber{
    font-size: 11px;
    margin-bottom: 8px;
}
@media (max-width: 980px){
    .grid-videos{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 700px){
    .grid-videos{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 513px){
    .grid-videos{
        grid-template-columns: 1fr;
    }
}
@media (min-width: 980px){
    .video-title{
        font-size: 15px;
    }
    .video-author-name{
        font-size: 15px;
    }
    .video-stats,.video-author{
        font-size: 13px;
    }
}
@media (max-width: 513px){
    .video-title{
        font-size: 13px;
    }
    .video-author-name{
        font-size: 13px;
    }
    .video-stats,.video-author{
        font-size: 11px;
    }
}
